@media screen and (max-width :767px)
{
  
      .header_div 
       { 
        width: 100%;
         flex-direction: column;
        
       }
       .bookieLogotop
         {
          height:50px;
          padding-bottom:0px;
          }
   
       .header_div_left_logo
           { 
            width: 100%;
            height: auto;
            text-align: center;
            align-items: center;
           }
        .header_div_right_navbar  
           {
                    width: 100%;
                    
          }

       .Container1_Child_right_inner_nav1
           {
            width: 50%;
            border-bottom: 2px solid gray;
            border-top: none;
           padding-bottom: 15px;
          }

       .Container1_Child_right_inner_nav2
          {
            width: 50%;
           border-bottom: 2px solid gray;
            border-top: none;
            padding-bottom: 15px;
          }

       .Container1_Child_right_inner_nav1:hover
          {
            color: #0065FC;
            border-bottom: 2px solid #0065FC;
            border-top: none;
          }
       .Container1_Child_right_inner_nav2:hover
         {
          color: #0065FC;
           border-bottom: 2px solid #0065FC;
           border-top: none;
          }

          .menu_a_link :visited
           {
               color: #0065FC;
                  text-decoration: none;
                
           }
           .div_src_img
           {
            margin-bottom: 5px;
           }
    
      .srch_Div
          {
           flex-direction: column;
           height: auto;
          }

          .srch_text_div
          {
           border-right: 0px;
          }

          .SearchText
          {
            right:5px;
          }
          .img_icon_srch
          {
            visibility: visible;
            margin-left: 0px;
            position: relative;
            right:15px;
            
          }
          #searchButton2
        {
          display: none;
          
          
        }

      .srch_filter_div
         {
            height: fit-content;
            padding-top: .625em;
         }
 
         #romantic
         {
          order:1;
          position: relative;
          right:20px;
         }

         #family_friendly
         {
          order: 2;
          
                    
         }
         #pet_friendly
         {
          padding-right: 20%;
          order: 3;
         }

     .div_src_txt_filter
       {
         width: 100%;
         margin-bottom:5px;
       }

       .div_txt_accom
       {
        margin-bottom: 15px;
       }
     .Outer_div_accom_popular
         {
         display: flex;
         flex-direction: column-reverse;
         }
         
         .div_popular_text 
         {
           margin:0px;
           border-radius: 0px;
         }

         .price_desktop
         {
          
          display: none;
         }

         
        .price_mobile
        {
            visibility:visible;
            display: inline;
            margin-left:3px ;
            
          }
        .txt_child_2
        {
          font-weight: bold;
        }

         .div_accom_text
         {
          margin:0px;
          border-radius: 0px;
          background-color:rgb(248, 248, 248);
          
         }
         .div_accom
         {
          /*fafafa4d */
          background-color:rgb(248, 248, 248);
          padding-left: 0px;
          padding-right: 0px;
         }

    .Inner_div_accom
       {
          width:100%;
          margin-left:20px;
          margin-right:20px;
          
       }

    .AccomImg
        {
          width:100%;
        }

        .div_Activity_in_city
        {
          margin-left: 20px;
          padding-left: 0px;
          padding-top: 15px;
        }

  #link_showmore
{
  
    margin-bottom:10px;
    margin-left:20px;
}

    .div_activity
        {
           display: flex;
          
           flex-direction: column;
           height: fit-content;
           margin-bottom:10px;
           margin-left:20px;
          margin-right: 20px;
          padding-left:0px;
          padding-right:0px;
        }
    .div_activity_img1
       {
        display: flex;
        flex-direction: column;
         width:100%;
      height: auto;
         margin-bottom:15px;
        }
    .div_activity_img_2_3
      {
        width:100%;
        height:auto;
        
      }
      
      .Inner_div_activity_img_2_3
      {
        margin-bottom: 15px;
      }


    .img_height_250
      {
        width: 100%;
        height: 150px;
       }

       .img_height_100
       {
        width: 100%;
        height: 150px;
        
       }

       .img_height_150
       {
        width: 100%;
        height: 150px;
       }

    .div_footer{
        flex-direction: column;
        padding: 0px;
        
    }

    .div_footer_about
    {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 20px;
    }

    .div_footer_Accom
    {
      margin-bottom: 10px;
      margin-left: 20px;
    }

    .div_footer_Assistance
    {
      margin-bottom: 10px;
      margin-left: 20px;
    }

    .div_footer_child
    {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .main_container
    {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width :420px)
{

  #lowcost
  {
    position: relative;
    top:5px;

  }

  #romantic
  {
   
   position: relative;
   bottom:40px;
   left:120px;
  }

  #family_friendly
  {
    position: relative;
  
    bottom:20px;
               
  }
  #pet_friendly
  {
    bottom:15px;
  }
}

@media screen and (max-width :991px)
{
   .srch_Div
    {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .header_div_right_navbar  
       {
   
         display: flex;
         flex-direction: row;
         justify-content: space-around;
       text-align:center;
       }
       .div_src_img
       {
        margin-bottom: 5px;
       }
 .srch_filter_div
    {
      height: fit-content;
      padding-top: .625em;
    }
 .div_src_txt_filter
    {
     width: 100%;
     
    }

}