*{box-sizing: border-box;}

body{
    font-family: Arial;
margin: 0;
}
.div1 {
    background-color: yellowgreen;
    text-align: center;
    padding: 5px;
}

.div2 { 
    padding:50px;
background-color:aquamarine;
color:white;
text-align: center;

}

.navbar {
display: flex;
background-color: blueviolet;
}

.navbar a {
    color:white;
        padding: 10px 15px;
    text-decoration: none;
   text-align: center;

}

.navbar a:hover {
    background-color: beige;
    color:blueviolet;
}

.fakeimg
{
    background-color:rgb(236, 228, 243);
    width:100%;
    padding:20px;
}

.row
{
    display:flex;
    flex-wrap: wrap;

}

.side {
    flex: 30%;
    background-color:aquamarine;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: azure;
    padding: 20px;
    
}   

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }